<!DOCTYPE html>


<html>
    <head>
        <link rel="stylesheet" href="./public/css/styles.css">
        <script src="./public/js/app.js" ></script>
        <image src="./public/img/jim.jpg"></image>
    </head>

    <body>
       {{>header}}    
        {{>footer}}
    </body>

        
</html>